<%= form_for(foca) do |f| %>
  <% if foca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foca.errors.count, "error") %> prohibited this foca from being saved:</h2>

      <ul>
      <% foca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <%= f.label :nome, class: "control-label" %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <br>
  <div class="form_group">
    <%= f.label :'Altura (cm)', class: "control-label" %>
    <%= f.number_field :altura_cm, class: "form-control" %>
  </div>
  <br>
  <div class="form_group">
    <%= f.label :'Peso (kg)', class: "control-label" %>
    <%= f.text_field :peso_kg, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :'Data de nascimento', class: "control-label" %>
    <% if button_name == 'Adicionar' %>
        <%= f.text_field :data_nascimento, class: "form-control", :data => {:provide => 'datepicker'} %>
    <% else %>
        <%= f.text_field :data_nascimento, :value => foca.data_nascimento, class: "form-control", :data => {:provide => 'datepicker'} %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit button_name, class: "btn btn-success" %>
    <%= link_to "Cancelar", focas_path, class: "btn btn-danger" %>
  </div>
<% end %>
